body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the root container takes at least the full height of the viewport */
  background-color: #f0f0f0;
}